@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3f4f6;
  font-family: runda, sans-serif;
  color: #374151;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-cover{
  background-image: url('/img/204.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-tree{
  background-image: url('/img/Trees.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-coffee{
  background-image: url('/img/92.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.roots{
  background-image: url('/img/bgRoots.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img_bg {
  background-image: url('/img/grain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.business-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/coffee.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 50% left 50%;
}

nav {
  position: sticky;
  top: 0;
  transition: transform 150ms ease-in-out;
  z-index: 100;
}

nav.nav-bar--hidden {
  transform: translateY(-106%);
}

button:focus {
outline-width: 1px;
  outline-color: #4ADE80;
}

a:focus {
  outline-width: 1px;
  outline-color: #4ADE80;
}


.link:focus {
  outline-color: #4ADE80;
}

.bullet li { 
  font-size: 10px;
}
.bullet span { 
  font-size: 18px;
}
.bottom {
  padding-bottom: 20px;
}

.line {
  line-height: 80% !important;
}

.stick{
  position: sticky;
  top: 120px;
}

.back-to-top{
  display: flex;
  justify-content: end;
  position: sticky;
  top: 590px;
}

.ig-img{
  width: 256px;
  height: 256px;
  display: inline-block;
}

@media only screen and (max-width: 374px) {
  .back-to-top{
    top: 490px;
  }
}
@media only screen and (min-width: 768px) {
  .back-to-top{
    top: 930px;
  }
}

@media only screen and (max-width: 1120px) {
  .ig-img{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
  }
}


@media only screen and (max-width: 1023px) {
  .ig-img{
    width: 160px;
    height: 160px;
    display: inline-block;
    margin: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .ig-img{
    width: 128px;
    height: 128px;
    display: inline-block;
    margin: 10px;
  }
}



@media only screen and (max-width: 343px) {
  .ig-img{
    width: 110px;
    height: 110px;
    display: inline-block;
    margin: 10px;
  }
}